* {
    margin: 5px;
    padding: 5px;
    /*border: 1px solid grey;*/
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }


html {
    background-color: #0000aa;
    
}
    



.button-hidden {
    display: none;
}



