


* {
    box-sizing: border-box;
}

div {
    font-size: 20px;
}



/* .group-list-item {
  background-color: antiquewhite;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: grid;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: antiquewhite;
  color: black;
  border: 3px solid darkcyan;
  
} */

  /* .list-group {
    list-style-type: none;
    display: grid;
    width: 250px;
  } */

/* Modal Section */

/* #modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); */
  
  /* to show it above other content */
  /* z-index: 999;  */
  
  /* to allow scrolling if the screen is not high enough*/
  /* overflow: auto;  */
  
  /* this is used to center the modal */
  /* display: grid;
  text-align: center; */
/* } */

/* .modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
} */

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal-title {
  margin-top: 0;
}

.modal-body {
  margin-bottom: 0;
}

#show-modal {
  display: none;
}


/* Bootstrap Modal */

.modal {
  display: block;
}

.modal.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(171, 191, 192, 0.842);
  z-index: 999;
  overflow: auto;
  display: inline-block;
  text-align: center;

}

