/* Colors used:
Primary: #5B565C
Secondary: #AAA2AB
Text: #040404
*/

/* Fonts
font-family: 'League Gothic', sans-serif;
*/

body {
    background-color: darkgrey;
    font-family: 'League Gothic', sans-serif;
    font-weight: 400px;
    font-size: 32px;
}

.social {
    text-decoration: underline;
}

a {
    color: #5B565c;
}

a:visited {
    color: #5B565C;
}

a:hover, a:focus{
    text-decoration: none;
}




a:active {
    color: darkgray;
}

button {
    color: white;
    font-size: 16px;
    background-color: #5B565C;
    border: none;
    font-family: inherit;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: translateY(-10px);
}

.secondary_button {
    background-color: #5B565C;
    color: blanchedalmond;
}

.navigation-list_item--active {
    text-decoration: none;
}

.inactive-link:hover {
    color: black;
    opacity: 1.6;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    flex: 0 1 200px;
}

.page-header_item {
    flex: 0 1 200px;
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px;
}

.grid_item {
    background-color: lightgray;
    
}

/*start grid fallback*/
.grid_item {
    display: inline-block;
    width: 33%;
}
/*ends grid fallback*/
@supports (display: grid) {
    .grid {
        display: grid;
        /*grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
    }
    .grid_item {
        background-color: lightgray;
        width: auto;
        min-height: auto;
        margin: 0;
    }
    .grid_item:last-child {
        grid-column: 3 / 3;
        grid-row: 1 /3;
    }
}

.grid_item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}